$primary: #C07DB4;
$spacer: 1rem;
$spacers: (
  6: ($spacer * 5),
    7: ($spacer * 20)
    );

    $mob-breakpoint: 768px;

    $grid-breakpoints: (
      xs: 0,
        sm: 576px,
	  md: 768px,
	    lg: 992px,
	      xl: $mob-breakpoint //Diesen Breakpoint werden wir als Kern-Umschaltpunkt der Website nehmen

	      );

	      $font-family-sans-serif: 'Raleway', sans-serif;
@import 'node_modules/bootstrap/scss/bootstrap';

.stickdatei-image{
	position: absolute;
	top: 0;
	left: 0;
}

.image-wrapper .btn{
	position: relative;
	display: none;
}

.image-wrapper:hover .btn, .image-wrapper .btn:hover{
	display: inline;	
};
